{{ define "appcfg/dashboard-log" }}
{{template "common/header" }}

<script>
    var luciLocation = ["admin","appcfg","dashboard"];
</script>

<div class="cbi-map" id="cbi-system">
    <h2 name="content">Dashboard配置</h2>
    <div class="cbi-map-descr">在这里，您可以查看Dashboard运行日志
    </div>
    <fieldset class="cbi-section" id="cbi-system-system">
        <legend>日志</legend>

        <ul class="cbi-tabmenu">
            <li id="tab.system.cfg02e48a.general" class="cbi-tab-disabled">
                <a href="/appcfg/dashboard">常规设置</a>
                <input type="hidden" id="tab.system.general" name="tab.system.general" value="general"/>
            </li>
            <li id="tab.system.cfg02e48a.general" class="cbi-tab-disabled">
                <a href="/appcfg/dashboard-cert">SSL证书设置</a>
                <input type="hidden" id="tab.system.ssl" name="tab.system.ssl" value="ssl"/>
            </li>
            <li id="tab.system.cfg02e48a.log" class="cbi-tab">
                <a href="/appcfg/dashboard-log">日志</a>
            </li>
        </ul>


        <fieldset class="cbi-section-node cbi-section-node-tabbed" id="cbi-system-cfg02e48a">

        <div id="content_syslog">
        <textarea data-autoresize style="font-size: 12px;box-sizing: border-box;resize: none;" readonly="readonly" wrap="off" id="syslog">{{ .Log }}</textarea>
        </div>

        </fieldset>
    </fieldset>
</div>

{{template "common/footer"}}
{{ end }}