{{ define "appcfg/aria2" }}
{{template "common/header" }}


<script>
    var luciLocation = ["admin","appcfg","aria2"];
</script>

<!-- typeahead style -->
<link rel="stylesheet" href="/static/css/typeahead.css" />
<script src="/static/js/typeahead/typeahead.jquery.min.js"></script>

<form id="hacklog-form" method="post" name="cbi" action="/appcfg/aria2" enctype="multipart/form-data">
    <div>
        <input type="hidden" name="token" value="270ecd947ed9c903589480de00ff97c4"/>
        <input type="hidden" name="cbi.submit" value="1"/>
        <input type="submit" value="Save" class="hidden"/>
    </div>
    <div class="cbi-map" id="cbi-system">
        <h2 name="content">Aria2配置</h2>
        <div class="cbi-map-descr">在这里，配置Aria2。
        </div>
        <fieldset style="overflow-x: visible;overflow-y: visible;" class="cbi-section" id="cbi-system-system">
            <legend>Aria2</legend>

            <ul class="cbi-tabmenu">
                <li id="tab.system.cfg02e48a.general" class="cbi-tab">
                    <a href="javascript:void(0);">常规设置</a>
                </li>
                <li id="tab.system.cfg02e48a.extra" class="cbi-tab-disabled">
                    <a href="/appcfg/aria2-extra">高级设置</a>
                </li>
                <li id="tab.system.cfg02e48a.log" class="cbi-tab-disabled">
                    <a href="/appcfg/aria2-log">日志</a>
                </li>
            </ul>


            <fieldset style="overflow-x: visible;overflow-y: visible;" class="cbi-section-node cbi-section-node-tabbed" id="cbi-system-cfg02e48a">

                <div class="cbi-tabcontainer" id="container.system.cfg02e48a.general">

                    <div class="cbi-value">
                        <label class="cbi-value-title">运行状态</label>
                        <div class="cbi-value-field">
                            <input class="process-status cbi-button cbi-input-save" type="button" value="Running" >
                            <a target="_blank" class="cbi-button cbi-input-save no-fade-in" href="/apps/AriaNg">Web UI</a>
                        </div>
                    </div>
                    <div class="cbi-value">
                        <label class="cbi-value-title" for="rpc-listen-port">RPC控制端口</label>
                        <div class="cbi-value-field">
                            <input  id="rpc-listen-port" name="rpc-listen-port" type="text"
                                   class="cbi-input-text" value="{{ .aria2cfg.RPCListenPort }}" />
                            默认 6800
                        </div>

                    </div>

                    <div class="cbi-value">
                        <label class="cbi-value-title" for="dir">默认下载目录</label>
                        <div class="cbi-value-field">
                            <input  id="dir" name="dir" type="text"
                                   class="cbi-input-text typeahead" value="{{ .aria2cfg.Dir }}"/>
                        </div>
                    </div>

                </div>

            </fieldset>
            <br/>


        </fieldset>

        <fieldset class="cbi-section">
            <legend>安全设置</legend>

            <fieldset class="cbi-section-node" id="cbi-system-ntp">

                <div class="cbi-value cbi-value-last" data-index="3" data-depends="[]">
                    <label class="cbi-value-title" for="rpc-secure">强制RPC安全性(SSL)</label>
                    <div class="cbi-value-field">
                        <select class="cbi-input-select"  id="rpc-secure" name="rpc-secure" size="1">
                        {{ $x := .aria2cfg.RPCSecure }}
                            <option {{ EqOutput "false" $x " selected " | attr }} value="false" >关闭</option>
                            <option {{ EqOutput "true" $x " selected " | attr }} value="true" >开启</option>
                        </select>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title" for="rpc-secret">RPC令牌</label>
                    <div class="cbi-value-field">
                        <input  id="rpc-secret" name="rpc-secret" type="password"
                               class="cbi-input-text" value="{{ .aria2cfg.RPCSecret }}"/>
                        <img src="/static/img/eye.png" style="vertical-align:middle"
                             title="Reveal/hide password"
                             onclick="var e = document.getElementById('rpc-secret'); e.type = (e.type=='password') ? 'text' : 'password';"/>
                             连接格式：http://token:xxxxxx@host:port/jsonrpc
                    </div>
                </div>


            </fieldset>
        </fieldset>

        <fieldset class="cbi-section">
            <legend>磁盘配置</legend>

            <fieldset class="cbi-section-node" id="cbi-system-ntp">

                <div class="cbi-value">
                    <label class="cbi-value-title" for="disk-cache">缓存大小</label>
                    <div class="cbi-value-field">
                        <input  id="disk-cache" name="disk-cache" type="text"
                                class="cbi-input-text" value="{{ .aria2cfg.DiskCache }}"/>
						默认 256M
                    </div>
                </div>

            </fieldset>
        </fieldset>
    </div>
    <div class="cbi-page-actions">
        <input class="cbi-button cbi-button-save" type="submit" value="保存"/>
        <input class="cbi-button cbi-button-reset" type="reset" value="重置"/>
    </div>
</form>

<script>
    jQuery(function($) {
        $('.typeahead').typeahead({
                    minLength: 1,
                    highlight: true,
                    hint: true,
                    offset: true
                },
                {
                    name: 'path',
                    display: 'value',
                    async:true,
                    limit:20,
                    source: function (query, process, asyncResults) {
                        return $.get('/api/system/browse', { current: query }, function (data) {
                            var matches = [];
                            $.each(data.list, function(i, str) {
                                matches.push({ value: str });
                            });
                            // process(matches);
                            asyncResults(matches);
                            console.log(matches);
                        },'json');
                    },
                });

        $('#hacklog-form').submit(function() {
            $(this).ajaxSubmit({success:function(resp) {
                    console.log(resp);
                    msg_type = resp.error !== 0 ? 'error' : 'success';
                    alertify.notify(resp.message, msg_type, 2, function(){processCheck('aria2c', '.process-status');});
                }
            });
            return false;
        });
        processCheck('aria2c', '.process-status');
    });


</script>

{{template "common/footer"}}
{{ end }}